/* --- Header styles --- */
.greedy-nav a {
    display: block;
    margin: 0 1rem;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
}

/* ---Landing Page Title Styles --- */
.page__title {
    margin-top: 220px;
    line-height: 1;
    color: #3b5998;
}

.no-title-margin {
  margin-top: 0 !important;
}

/* --- About Page Title Styles --- */
.page__title a {
    margin-top: 0px;
    color: #3b5998; /* Blue color */
    text-decoration: none; /* Keeps the link without underline */
}

/* --- About Section Styles on Landing Page --- */
.page__hero--overlay .page__title, 
.page__hero--overlay .page__meta, 
.page__hero--overlay .comment__date, 
.page__hero--overlay .page__lead, 
.page__hero--overlay .btn {
    color: #3b5998;
    text-shadow: 1px 1px 4px #ffffffbd;
}

/* Padding around About Section on Landing Page */
.page__hero--overlay {
    padding: 20px;
}

/* Button styling for About section on Landing Page*/
.btn--light-outline {
    background-color: transparent;
    color: #3b5998;
    border: 1.5px solid #3b5998;
}

/* --- Media Queries for Responsive Design for work and uni fotos--- */
@media (min-width: 37.5em) {
    /* Adjust feature item width on larger screens */
    .feature__item {
        width: 48%;
    }

    /* Adjust font size of title in About section on Landing Page */
    .page__hero--overlay .page__title {
        font-size: 26px;
    }
}

/* --- Custom Page Content Font Size --- */
.page__content p, .page__content li, .page__content dl {
    font-size: 0.85em; /* Decrease font size */
}

h1 {
    margin-top: 0;
    font-size: 1.3em;
}

/* --- Make h2 Smaller --- */
h2 {
    font-size: 1.0em; /* Reduce the font size from 1.25em to 1.1em */
}


